<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>首页_皮爷の博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/images/bitbug_favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/static/css/comments.css">
	<link href="/static/css/base.css" rel="stylesheet">
	<link href="/static/css/index.css" rel="stylesheet">
	<!--<link href="css/m.css" rel="stylesheet">-->
	<script src="/static/js/jquery.min.js" type="text/javascript"></script>
	<script>
        $(function () {
			var modal = document.getElementById('myModal');
			var mmy = document.getElementById('my');
			var img = document.getElementById('myImg');
			var modalImg = document.getElementById('img01');
			var captionText = document.getElementById('caption');
			mmy.onclick = function () {
				modal.style.display = 'block';
				modalImg.src = '/static/money/weixin.png';
				captionText.innerHTML = '谢谢！！';
			};
			//获取 <span> 元素，设置关闭按钮
			var span = document.getElementsByClassName("close")[0];
			// 当点击 (x), 关闭弹窗
			span.onclick = function() {
				modal.style.display = "none";
			};
        })
	</script>
	<script src="/static/js/jquery.easyfader.min.js"></script>
	<script src="/static/js/scrollReveal.js"></script>
	<script src="/static/js/wangEditor.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/js/xcConfirm.js"></script>

</head>

<body>
{% include 'header_menu.html' %}

	<article>
		<h1 class="t_nav">
			<p class="n1">文章</p>
		</h1>
		<div class="infosbox">
			<div class="newsview">
				<h3 class="news_title">{{params.topic.title}}</h3>
				<div class="bloginfo">
					<ul>
						<li class="author"><a href="#">{{params.topic.user.uname}}</a></li>
						<li class="lmname"><a href="#">{{params.topic.category.cate_name}}</a></li>
						<li class="timer">{{params.topic.pub_date}}</li>
						<li class="view">{{params.topic.read_num}}</li>
						<li class="like">{{params.topic.voke_users.count()}}</li>
					</ul>
				</div>
				<div class="tags"><a href="#" target="_blank">{{params.topic.blogtype.type_name}}</a> &nbsp; <a href="#" target="_blank">小世界</a></div>
				<div class="news_about"><strong>简介</strong>{{params.topic.content|truncate(255)}}</div>
				<div class="news_con">
					<img alt="" src="/static/{{params.topic.images}}"><br>
					<pre>{{params.topic.content}}</pre>
					<!--From：https://www.oschina.net/question/5189_4306<br>-->
					<!--<br>-->
					<!--From：https://www.oschina.net/question/5189_4306<br>-->
					<!--<br>-->
					<!--<br>-->
					<!--Web.py Cookbook 简体中文版：http://webpy.org/cookbook/index.zh-cn<br>-->
					<!--<br>-->
					<!--web.py 0.3 新手指南：http://webpy.org/docs/0.3/tutorial.zh-cn<br>-->
					<!--<br>-->
					<!--<img alt="" src="/static/images/a.jpg"><br>-->
					<!--<br>-->
					<!--webpy 官网文档：http://webpy.org/-->

					<!--web.py 十分钟创建简易博客：http://blog.csdn.net/freeking101/article/details/53020728<br>-->
					<!--<br>-->
					<!--web.py 是一个Python 的web 框架，它简单而且功能强大。web.py 是公开的，无论用于什么用途都是没有限制的。而且相当的小巧，应当归属于轻量级的web 框架。但这并不影响web.py-->
					<!--的强大，而且使用起来很简单、很直接。在实际应用上，web.py 更多的是学术上的价值，因为你可以看到更多web 应用的底层，这在当今“抽象得很好”的web 框架上是学不到的 ：）-->
					<!--如果想了解更多web.py，可以访问web.py 的官方文档。-->

					<!--先感受一下web.py 的简单而强大：<br>-->
					<!--<br>-->
					<!--上面就是一个基于web.py 的完整的Web 应用。将上面的代码保存为文件code.py，在命令行下执行python code.py。然后打开你的浏览器，打开地址：http://localhost:8080 或者-->
					<!--http://localhost:8080/test 没有意外的话(当然要先安装web.py，下面会有介绍)，浏览器会显示“Hello, world”或者 “Hello, test”。-->
					<!--<br>-->
					<!--<br>-->
					<!--<img alt="" src="/static/images/bi03.jpg"><br>-->
					<!--<br>-->
					<!--1. 安装-->
					<!--下载 web.py 的安装文件，将下载得到的文件 web.py 解压，进入解压后的文件夹，在命令行下执行：python setup.py install，在Linux 等系统下，需要root 的权限，可以执行：sudo-->
					<!--python setup.py install。-->

					<!--2. URL 处理-->
					<!--对于一个站点来说，URL 的组织是最重要的一个部分，因为这是用户看得到的部分，而且直接影响到站点是如何工作的，例如：www.baidu.com ，其URLs 甚至是网页界面的一部分。而web.py-->
					<!--以简单的方式就能够构造出一个强大的URLs。-->
					<!--在每个web.py 应用，必须先import web 模块：<br>-->
					<!--<br>-->
					<!--<br>-->
					<!--<img alt="" src="/static/images/bi06.jpg"><br>-->
					<!--<br>-->
					&nbsp;
				</div>
			</div>
			<div class="share">
				<p class="diggit">
					<a href="/praise?Topid={{params.topic.id}}&Userid={{params.user.id}}">
						很赞哦！ 
					</a>(<b id="diggnum">{{params.topic.voke_users.count()}}</b>)
				</p>
				<p class="dasbox"><a href="javascript:" id="my" class="dashang" onclick="" title="打赏，支持一下">打赏本站</a></p>

				<!--弹窗-->
				<div id="myModal" class="modal">
					<!--关闭按钮-->
					<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
					<!--弹窗内容-->
					<img class="modal-content" id="img01">
					<!--文本描述-->
					<div id="caption"></div>
				</div>
				<div class="hide_box"></div>
			</div>
			<div class="nextinfo">
				{% if params.prevTop.title %}
					<p>上一篇：<a href="info?id={{params.prevTop.id}}">{{params.prevTop.title}}</a></p>
				{% else %}
					<p>上一篇：<a href="/list.html">返回列表</a></p>
				{% endif %}

				{% if params.nextTop.title %}
					<p>下一篇：<a href="info?id={{params.nextTop.id}}">{{params.nextTop.title}}</a></p>
				{% else %}
					<p>下一篇：<a href="/list.html">返回列表</a></p>
				{% endif %}

			</div>
			<div class="news_pl">
				<h2>文章评论</h2>
				<ul>
					<div class="gbko">

						<div class="l_box f_l" style="padding:20px;">
							<div class="commentstitle">
								<h3 id="comments">到现在<span class="commentsnumber">有{{params.topic.replies.count()}}条评论</span></h3>
							</div>
							{% for reply in params.topic.replies %}
								<ol class="commentlist">
									<!--先遍历父级评论-->
									<li>
										<div class="top"><a href='#'  class='url'>{{reply.user.uname}}</a>
											<span class="time"> @
												<a href="#" title="">{{reply.reply_time}}</a>
												<a href="#" class="replyComment">回复</a>
											</span>
										</div>
										<div><img alt='' src='/static/images/02.jpg' class='commentAvatar avatar-32 commentPhoto' height='32' width='32' /></div>
										<div class="body">
											<p>{{reply.content}}</p>
										</div>
									</li>
								</ol>
							{% endfor %}
								<!--如果父级评论有子评论，就把子评论输出-->
								<!--<li>-->
									<!--<div class="reply">-->
										<!--<div class="top">-->
											<!--<a href="#" class="url">pipilu</a>-->
											<!--<span class="time">-->
												<!--@ <a href="#" title="">2018-09-10 9:38</a>-->
											<!--</span>-->
										<!--</div>-->
										<!--<div><img alt="" src="/static/images/01.jpg" class="commentAvatar avatar-32 commentPhoto" height="32" width="32"></div>-->
										<!--<div class="body">楼上说的对</div>-->
									<!--</div>-->
								<!--</li>-->
							<!--</ol>-->
							<!--<ol class="commentlist">-->
								<!--&lt;!&ndash;先遍历父级评论&ndash;&gt;-->
								<!--<li>-->
									<!--<div class="top"><a href='#' rel='external nofollow' class='url'>qudaodao</a><span class="time"> @-->
											<!--<a href="#" title="">2018-09-10 9:38</a><a href="#" class="replyComment">回复</a></span></div>-->
									<!--<div><img alt='' src='images/01.jpg' class='commentAvatar avatar-32 commentPhoto' height='32' width='32' /></div>-->
									<!--<div class="body">-->
										<!--<p>真知灼见</p>-->
									<!--</div>-->
								<!--</li>-->
								<!--&lt;!&ndash;如果父级评论有子评论，就把子评论输出&ndash;&gt;-->
								<!--<li>-->
									<!--<div class="reply">-->
										<!--<div class="top"><a href="#" class="url">pipilu</a><span class="time">-->
												<!--@ <a href="#" title="">2018-09-10 9:38</a></span></div>-->
										<!--<div><img alt="" src="/static/images/02.jpg" class="commentAvatar avatar-32 commentPhoto" height="32" width="32"></div>-->
										<!--<div class="body">楼上说的对</div>-->
									<!--</div>-->
								<!--</li>-->
								<!--&lt;!&ndash;如果父级评论有子评论，就把子评论输出&ndash;&gt;-->
								<!--<li>-->
									<!--<div class="reply">-->
										<!--<div class="top"><a href="#" rel="external nofollow" class="url">pipilu</a><span class="time">-->
												<!--@ <a href="#" title="">2018-09-10 9:38</a></span></div>-->
										<!--<div><img alt="" src="/static/images/03.jpg" class="commentAvatar avatar-32 commentPhoto" height="32" width="32"></div>-->
										<!--<div class="body">楼上说的对</div>-->
									<!--</div>-->
								<!--</li>-->
							<!--</ol>-->
							<!--<ol class="commentlist">-->
								<!--&lt;!&ndash;先遍历父级评论&ndash;&gt;-->
								<!--<li>-->
									<!--<div class="top"><a href='#' class='url'>qudaodao</a><span class="time"> @-->
											<!--<a href="#" title="">2018-09-10 9:38</a><a href="#" class="replyComment">回复</a></span></div>-->
									<!--<div><img alt='' src='images/04.jpg' class='commentAvatar avatar-32 commentPhoto' height='32' width='32' /></div>-->
									<!--&lt;!&ndash; <div><img alt='' src='images/01.jpg' class='avatar avatar-32 photo' height='32' width='32' /></div> &ndash;&gt;-->
									<!--<div class="body">-->
										<!--<p>没毛病老铁</p>-->
									<!--</div>-->
								<!--</li>-->
								<!--&lt;!&ndash;如果父级评论有子评论，就把子评论输出&ndash;&gt;-->
								<!--<li>-->
									<!--<div class="reply">-->
										<!--<div class="top"><a href="#" rel="external nofollow" class="url">pipilu</a><span class="time">-->
												<!--@ <a href="#" title="">2018-09-10 9:38</a></span></div>-->
										<!--<div><img alt="" src="/static/images/05.jpg" class="commentAvatar avatar-32 commentPhoto" height="32" width="32"></div>-->
										<!--&lt;!&ndash; <div><img alt="" src="/static/images/03.jpg" class="avatar avatar-32 photo" height="32" width="32"></div> &ndash;&gt;-->
										<!--<div class="body">楼上说的对</div>-->
									<!--</div>-->
								<!--</li>-->
							<!--</ol>-->
							<div id="commentform">
								<h3 id="respond">在这添加你的留言！</h3>
								<form action="/info" method="post">
									<!--<dir id="editor"></dir>-->
									<textarea name="content" id="" cols="100" rows="20"></textarea>
									<!--隐藏域，传回文章id-->
									<input type="hidden" name="tid" value="{{params.topic.id}}">
									<br>
									<p>
										<input id="id_article" name="article" type="hidden" value="1">
										<input name="submit" type="submit" id="submit" tabindex="5" value="提交" class="button" />
									</p>
								</form>
							</div>
						</div>

					</div>
				</ul>
			</div>
		</div>
		<div class="sidebar">
		  <div class="zhuanti">
			<h2 class="hometitle">特别推荐</h2>
			<ul>
			  {% for topic in params.topics[5:8] %}
			  <li> <i><img src="/static/{{topic.images}}"></i>
				<p>{{topic.title}} <span><a href="/info?id={{topic.id}}">阅读</a></span> </p>
			  </li>
			  {% endfor %}
			  <!--<li> <i><img src="/static/images/b04.jpg"></i>-->
				<!--<p>Python基础概念_2_基础概念<span><a href="#">阅读</a></span></p>-->
			  <!--</li>-->
			  <!--<li> <i><img src="/static/images/b05.jpg"></i>-->
				<!--<p>Python之if判断语句与while和for循环<span><a href="#">阅读</a></span></p>-->
			  <!--</li>-->
			</ul>
		  </div>


		  <div class="tuijian">
			<h2 class="hometitle">推荐文章</h2>
			<ul class="tjpic">
			  {% for topic in params.topic_like[:1] %}
				<i><img src="/static/{{topic.images}}"></i>
				<p><a href="/info?id={{topic.id}}">{{topic.title}}</a></p>
			  {% endfor %}
			</ul>
			<ul class="sidenews">
			  {% for topic in params.topic_like[1:5] %}
				<li> <i><img src="/static/{{topic.images}}"></i>
				  <p><a href="/info?id={{topic.id}}">{{topic.title}}</a></p>
				  <span>{{topic.pub_date.strftime('%Y-%m-%d')}}</span>
				</li>
			  {% endfor %}
			  <!--<li> <i><img src="/static/images/toppic02.jpg"></i>-->
				<!--<p><a href="#">CentOS7下python开发环境配置</a></p>-->
				<!--<span>2018-05-13</span>-->
			  <!--</li>-->
			  <!--<li> <i><img src="/static/images/v1.jpg"></i>-->
				<!--<p><a href="#">python初步实现word2vec</a></p>-->
				<!--<span>2018-05-13</span>-->
			  <!--</li>-->
			  <!--<li> <i><img src="/static/images/v2.jpg"></i>-->
				<!--<p><a href="#">Python之if判断语句与while和for循环</a></p>-->
				<!--<span>2018-05-13</span>-->
			  <!--</li>-->
			</ul>
		  </div>
		  <!--点击排行-->
		  <div class="tuijian">
			<h2 class="hometitle">点击排行</h2>
			{% for topic in params.topicss[:1] %}
			  <ul class="tjpic">
				<i><img src="/static/{{topic.images}}"></i>
				<p><a href='/info?id={{topic.id}}'>{{topic.title}}</a></p>
			  </ul>
			{% endfor %}
			<ul class="sidenews">
			  {% for topic in params.topicss[1:5] %}
				<li> <i><img src="/static/{{topic.images}}"></i>
				  <p><a href="/info?id={{topic.id}}">{{topic.title}}</a></p>
				  <span>{{topic.pub_date.strftime('%Y-%m-%d')}}</span>
				</li>
			  {% endfor %}
			  <!--<li> <i><img src="/static/images/toppic02.jpg"></i>-->
				<!--<p><a href="#">人生苦短 Python当歌</a></p>-->
				<!--<span>2018-05-13</span>-->
			  <!--</li>-->
			  <!--<li> <i><img src="/static/images/v1.jpg"></i>-->
				<!--<p><a href="#">Python学习笔记：虚拟环境和包</a></p>-->
				<!--<span>2018-05-13</span>-->
			  <!--</li>-->
			  <!--<li> <i><img src="/static/images/v2.jpg"></i>-->
				<!--<p><a href="#">python中打开TXT文件报错</a></p>-->
				<!--<span>2018-05-13</span>-->
			  <!--</li>-->
			</ul>
		  </div>
		  <div class="cloud">
			<h2 class="hometitle">没用的标签云</h2>
			<ul>
			  <a href="#">陌上花开</a> <a href="#">校园生活</a> <a href="#">html5</a> <a href="#">SumSung</a> <a href="#">青春</a> <a
				href="#">温暖</a> <a href="#">阳光</a> <a href="#">三星</a><a href="#">索尼</a> <a href="#">华维荣耀</a> <a href="#">三星</a>
			  <a href="#">索尼</a>
			</ul>
		  </div>

		  <div class="guanzhu" id="follow-us">
			<h2 class="hometitle">关注我们 么哒！</h2>
			<ul>
			  <li class="sina"><a href="#" target="_blank"><span>微信公众号</span>非专业视觉设计师</a></li>
			  <li class="tencent"><a href="#" target="_blank"><span>微信咨询</span>XXX</a></li>
			  <li class="qq"><a href="#" target="_blank"><span>QQ号</span>XXXXXX</a></li>
			  <li class="email"><a href="#" target="_blank"><span>邮箱帐号</span>z.zipeng@qq.com</a></li>
			  <li class="wxgzh"><a href="#" target="_blank"><span>咨询电话</span>xxxxxxxxxxx</a></li>
			</ul>
		  </div>
		</div>
	</article>
	<footer id="footer">
		<p>Design by <a href=# target="_blank">鹏の博客</a> <a href="#">备XXXXXXXX号-1</a></p>
	</footer>
	<a href="#" class="cd-top">Top</a>
	<script>
		var E = window.wangEditor
		var editor = new E('#editor')
		// 或者 var editor = new E( document.getElementById('editor') )
		editor.customConfig.menus = [
			'head', // 标题
			'bold', // 粗体
			'fontSize', // 字号
			'fontName', // 字体
			'italic', // 斜体
			'underline', // 下划线
			'strikeThrough', // 删除线
			'foreColor', // 文字颜色
			'backColor', // 背景颜色
			'link', // 插入链接
			'list', // 列表
			'justify', // 对齐方式
			'quote', // 引用
			'emoticon', // 表情
			'image', // 插入图片
			'table', // 表格
			'video', // 插入视频
			'undo', // 撤销
			'redo' // 重复
		]
		editor.create()
	</script>
</body>

</html>