
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="/static/css/login_reglogin.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script>
//		用户名
        $(function(){
            $("[name='loginname']").blur(function(){
                var loginname =$('[name="loginname"]').val();
                $.ajax({
					url:'/verify',
					type:'post',
					data:"loginname="+loginname,
					dataType:'json',
					success:function (data) {
					    if(data.status==0){
                            $("#loginNameShow").html(data.msg)
                        }else if(data.status==2) {
					        $("#loginNameShow").html('<span class="myicon-tick-checked"></span>')
						}else{
					        $("#loginNameShow").empty()
						}
                    }
				})
            });
        });
//        昵称
        $(function(){
            $("[name='username']").blur(function(){
                var username = $('[name="username"]').val();
                $.ajax({
					url:'/verify',
					type:'get',
					data:'username='+username,
					dataType:'json',
					success:function (data) {
						if(data.status==0){
                            $("#userNameShow").html(data.msg)
                        }else if(data.status==2) {
					        $("#userNameShow").html('<span class="myicon-tick-checked"></span>')
						}else{
					        $("#userNameShow").empty()
						}
                    }
				})
            });
        });
    </script>
	<script>
//		判断两次密码
		$(function () {
		    $("[name='password']").blur(function() {
                if ($('[name="password"]').val() != $('[name="password1"]').val()) {
                    $("#passwordShow").html('密码不一致')
                }else{
                    $("#passwordShow").empty();
					$("#passwordShow").html('<span class="myicon-tick-checked"></span>')
				}
            })
        });
//		判断邮箱
		$(function () {
			$("[name='email']").blur(function () {
				if($('[name="email"]').val()){
				    $("#emailShow").html('<span class="myicon-tick-checked"></span>')
				}else{
//				    <span class="myicon-tick-uncheck"></span>
					$("#emailShow").empty()
				}
            })
        });
//		判断个人主站
		$(function () {
			$("[name='url']").blur(function () {
				if($('[name="url"]').val()){
				    $("#urlShow").html('<span class="myicon-tick-checked"></span>')
				}else{
					$("#urlShow").empty()
				}
            })
        })
	</script>
</head>
<body>
		<div class="bg">
				<img src="/static/images/c.jpg" alt="">
			</div>
	<div class="main">
		<div class="header" >
			<h1>创建一个新账户！</h1>
		</div>
		<p></p>
			<form action="/register" method="post">
				<ul class="left-form">
					<h2>新账户:</h2>
					<li>
            <input type="text" name="loginname" placeholder="请输入用户名" required/>
						<span id="loginNameShow" style="font-size: 12px;"></span>
						<div class="clear"> </div>
					</li>
					<li>
            <input type="text" name="username" placeholder="请输入个人昵称" required/>
						<span id="userNameShow" style="font-size: 12px;"></span>
						<div class="clear"> </div>
					</li>
					<li>
            <input type="email" name="email" placeholder="请输入邮箱" required/>
						<span id="emailShow"></span>
						<div class="clear"> </div>
					</li> 
					<li>
            <input type="url" name="url" placeholder="请输入个人主站地址" required/>
						<span id="urlShow"></span>
						<div class="clear"> </div>
					</li> 
					<li>
            <input type="password" name="password1" placeholder="请输入密码" required/>
						<div class="clear"> </div>
          </li>
          <li>
              <input type="password" name="password" placeholder="请再次确认密码" required/>
			  <span id="passwordShow" style="font-size: 9px;"></span>
              <div class="clear"> </div>
            </li>
					<!--用于记录注册跳转来源，方便注册之后跳转之前的页面-->
          {#<input type="hidden" name="source_url" value="{{ request.META.HTTP_REFERER }}">#}
					<input type="submit" value="创建并登录">
					<div class="clear"> </div>
				</ul>
				<div class="clear"> </div>
			</form>
	</div>
</body>
</html>